<html>
　　<head>
　　　　<title> new template </title>
　　</head>
　　<body>
　　　　<p>Hello jikexueyuan</p>
　　　　<p>Hi <%= name %></p>                             //获取name的值。
　　　　<p>name:<%= name %></p>                        //获取name的值。

　　　</body>
</html>